<div class="top-bar">
    <div class="top-bar-right">

        <!-- DESKTOP MENU -->
        <ul class="menu hide-for-small-only">
            {% include "menu_items.html" %}
        </ul>

        <!-- MOBILE MENU -->
        <ul class="dropdown menu show-for-small-only" data-dropdown-menu>
            <li class="menu_button">
                ☰ MENU
                <ul class="menu vertical">
                    {% include "menu_items.html" %}
                </ul> 
            </li>
        </ul>

    </div>
</div>
